.App-link {
  color: #61dafb;
}

.header-container>h1 {
  color: #ad950d;
  text-align: center;
  background-color: rgb(182, 250, 227);
  padding: 20px;
}

.body-container {
  margin-top: 20px;
}

.player-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}